/* desplegado en segunda unidad

name: 'Desplegar Infraestructura de Terraform'

on:
  push:
    branches:
      - main
    paths:
      - 'infra/**.tf'
  workflow_dispatch:

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform -chdir=infra init

    - name: Terraform Plan
      run: terraform -chdir=infra plan -out=tfplan

    - name: Terraform Apply
      run: terraform -chdir=infra apply -auto-approve tfplan